/* ----------------------- FUENTES ----------------------- */
@font-face {
  font-family: "IMFellEnglish_Regular";
  src: url(work/models/memorica/recursos/Type/IMFellEnglish-Regular.ttf) format("truetype");
  font-style: normal;
  -webkit-font-smoothing: subpixel-antialiased;
}

@font-face {
  font-family: "IMFellEnglish_Italic";
  src: url(work/models/memorica/recursos/Type/IMFellEnglish-Italic.ttf) format("truetype");
  font-style: normal;
  -webkit-font-smoothing: subpixel-antialiased;
}

@font-face {
  font-family: "IMFellEnglishSC_Regular";
  src: url(work/models/memorica/recursos/Type/IMFellEnglishSC-Regular.ttf) format("truetype");
  font-style: normal;
  -webkit-font-smoothing: subpixel-antialiased;
}

@font-face {
  font-family: "Raleway-Medium";
  src: url(work/models/memorica/recursos/Type/Raleway-Medium.ttf) format("truetype");
  font-style: normal;
  -webkit-font-smoothing: subpixel-antialiased;
}

@font-face {
  font-family: "Raleway-MediumItalic";
  src: url(work/models/memorica/recursos/Type/Raleway-MediumItalic.ttf) format("truetype");
  font-style: normal;
  -webkit-font-smoothing: subpixel-antialiased;
}

@font-face {
  font-family: "Raleway-Regular";
  src: url(work/models/memorica/recursos/Type/Raleway-Regular.ttf) format("truetype");
  font-style: normal;
  -webkit-font-smoothing: subpixel-antialiased;
}

@font-face {
  font-family: "Raleway-SemiBold";
  src: url(work/models/memorica/recursos/Type/Raleway-SemiBold.ttf) format("truetype");
  font-style: normal;
  -webkit-font-smoothing: subpixel-antialiased;
}

@font-face {
  font-family: "Raleway-Bold";
  src: url(work/models/memorica/recursos/Type/Raleway-Bold.ttf) format("truetype");
  font-style: normal;
  -webkit-font-smoothing: subpixel-antialiased;
}

@font-face {
  font-family: "Raleway-BoldItalic";
  src: url(work/models/memorica/recursos/Type/Raleway-BoldItalic.ttf) format("truetype");
  font-style: normal;
  -webkit-font-smoothing: subpixel-antialiased;
}

/* ----------------------- GENERAL ----------------------- */
html {
  height: 100%;
  font-size: 19px;
  background-color: #F9F9F7;
}

body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

h2 {
  font-family: "IMFellEnglish_Regular";
}

p, a, li {
  color: #42170E;
  font-family: "Raleway-Regular";
  text-align: justify;
  word-wrap: break-word;
}

a {
  font-size: 20px;
  font-family: "Raleway-Regular";
}

a:focus {
  outline: none;
}

.logo {
  max-height: 50px;
  max-width: 50px;
  transition: all 0.5s;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.0);
  z-index: 2;
}

/* ----------------------- PORTADA ----------------------- */

#cover {
  background-color: #13182c;
  height: 100%;
  width: 100%;
}

.splash {
  height: 100%;
  width: 100%;
}

.count {
  font-family: "IMFellEnglish_Regular";
  font-size: 25rem;
  text-align: center;
  color: #715E51;
}

.fake-count {
  font-family: "IMFellEnglish_Regular";
  font-size: 25rem;
  text-align: center;
  color: #715E51;
}

.monospace .char {
  display: inline-block; /* Enable widths */
  width: 200px;          /* Set width across all characters */
  text-align: center;    /* Even out spacing */
}

#intro-text, #intro-title {
  position: absolute;
}

#intro-text h1, #intro-title h1 {
  font-family: "IMFellEnglishSC_Regular";
  font-size: 6rem;
  text-align: center;
  color: #715E51;
}

#intro-title h1 {
   font-size: 20rem;
 }

.scroll {
  position: absolute;
  bottom: 0;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 3rem;
  transition: all 0.5s ease;
  margin-bottom: 10px;
}

.scroll img, .scroll-up img {
  transform-origin: bottom;
}

a.scroll, a.scroll-up {
  text-decoration: none;
  cursor: pointer;
}

#introVideo {
  width: 100%;
}

.animated {
  animation: bounce 1s infinite alternate;
  -webkit-animation: bounce 1s infinite alternate;
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}

@keyframes bounce {
  from {
    margin-bottom: 10px;
  }
  to {
    margin-bottom: 25px;
  }
}

/* ----------------------- HOME ----------------------- */

.sala {
  /* margin-top: 1000px; */
  width: 100%;
  position: relative;
}

.caja h2, .caja h3 {
  text-align: center;
}

.caja h2 {
  font-family: "IMFellEnglishSC_Regular";
  font-size: 5rem;
}

#section-interpretes h2 {
  font-size: 4.5rem;
}

#section-interpretes .icon {
  height: 3rem;
}

h3.goto a {
  font-family: "IMFellEnglish_Italic";
  font-size: 1.8rem;
  transition: all 0.5 ease;
  text-decoration: none;
}

h3.goto a:hover {
  text-decoration: none;
  transition: all 0.5 ease;
}

h3.link-textos a {
  color: #63281e;
}

h3.link-hechos a {
  color: #715f51;
}

h3.link-imagenes a {
  color: #194b54;
}

h3.link-interpretes a {
  color: #1b2e52;
}

h3.link-textos a:hover, h3.link-hechos a:hover, h3.link-imagenes a:hover, h3.link-interpretes a:hover {
  font-size: 1.9rem;
  opacity: 0.8;
  transition: all 0.5 ease;
}

.pleca {
  width: 250px;
  height: 10px;
  margin-top: 29px;
  position: absolute;
}

.goto {
  z-index: 2;
  width: 300px;
  height: 10px;
  padding-top: 10px;
}

.cover img {
  width: 100%;
  height: auto;
}

.caja {
  height: 530px;
  background-color: #F9F9F7;
}

.caja img {
  height: 30px;
}

/* ----------------------- HOME ESTATICO ----------------------- */
.overbox{
  position: absolute;
  top: 0;
  z-index:1;
  height:100%;
  width: 100%;
}

/* ----------------------- CREDITOS ----------------------- */

footer {
  background-color: #F9F9F7;
}

footer p {
  color: #715f51;
  line-height: 1rem;
  text-align: center;
}

footer h2 {
  color: #08163b;
  font-size: 3.5rem;
  text-align: center;
}

footer h6 {
  font-family: "Raleway-SemiBold";
  color: #13182c;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.credit-line {
  height: 10px;
}

.bold {
  font-family: "Raleway-SemiBold";
  color: #13182c;
}

.scroll-up {
  position: absolute;
  bottom: 0;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 3rem;
  transition: all 0.5s ease;
  margin-bottom: 10px;
}

/* ----------------------- LOADING SCREEN ----------------------- */

#loader {
  z-index: 5;
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000000;
  margin: 0;
}

/* ----------------------- NAVBAR ----------------------- */
.share {
  position: fixed;
  top: 25px;
  right: 8%;
  transition: all 0.5s;
}

.down {
  position: fixed;
  top: 25px;
  right: 5%;
  transition: all 0.5s;
}

.logo:hover, .share:hover, .down:hover {
  transform: scale(1.2);
  opacity: 0.8;
}

.button_container {
  position: fixed;
  top: 29px;
  right: 2%;
  height: 27px;
  width: 35px;
  cursor: pointer;
  transition: opacity .25s ease;
  z-index: 10;
}

.button_container:hover {
  opacity: .7;
}

.button_container.active .top {
  transform: translateY(11px) translateX(0) rotate(45deg);
  background: #FAF9F8;
}

.button_container.active .middle {
  opacity: 0;
  background: #FAF9F8;
}

.button_container.active .bottom {
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #FAF9F8;
}

.button_container span {
  background: #0f1323;
  border: none;
  height: 3px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .35s ease;
  cursor: pointer;
}

.button_container span:nth-of-type(2) {
  top: 11px;
}

.button_container span:nth-of-type(3) {
  top: 22px;
}

.overlay {
  z-index: 3;
  position: fixed;
  background: #13182c;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
}

.overlay.open {
  opacity: .9;
  visibility: visible;
  height: 100%;
}

.overlay.open li {
  animation: fadeInRight .5s ease forwards;
  animation-delay: .35s;
}

.overlay.open li:nth-of-type(2) {
  animation-delay: .4s;
}

.overlay.open li:nth-of-type(3) {
  animation-delay: .45s;
}

.overlay.open li:nth-of-type(4) {
  animation-delay: .5s;
}

.overlay.open li:nth-of-type(5) {
  animation-delay: .55s;
}

.overlay.open li:nth-of-type(6) {
  animation-delay: .6s;
}

.overlay nav {
  position: relative;
  height: 70%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
  font-weight: 400;
  text-align: center;
}

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}

.overlay ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
  min-height: 50px;
  position: relative;
  opacity: 0;
}

.overlay ul li a {
  font-family: "IMFellEnglishSC_Regular";
  font-size: 2.4rem;
  text-align: center;
  display: inline-block;
  position: relative;
  color: #FAF9F8;
  text-decoration: none;
  overflow: hidden;
}

.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
  width: 25%; /*longitud de subrayado*/
}

.overlay ul li a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  transform: translateX(-50%);
  height: 3px;
  background: #FAF9F8;
  transition: .35s;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }

  100% {
    opacity: 1;
    left: 0;
  }
}

.dark nav {
  background-color: #13182c;
}

.button_container span.dark {
  background: #F9F9F7;
}

/* ----------------------- SALA LOS TEXTOS ----------------------- */
.tit-textos {
  height: 40px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0)
}

.texto-box {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}

.outer {
  background-color: rgba(192, 118, 79, .10);
}

.outer-light {
  background-color: #faf9f8;
}

.outer:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  opacity: 0;
  transition: all 0.8s;
}

.outer:hover:before {
  opacity: 1;
}

.inner{
  position: relative;
}

#texto-1:before {
  background-image: url(work/models/memorica/recursos/img/500anos/texto-1.jpg);
}

#texto-2:before {
  background-image: url(work/models/memorica/recursos/img/500anos/texto-2.jpg);
}

#texto-3:before {
  background-image: url(work/models/memorica/recursos/img/500anos/texto-3.jpg);
}

#texto-4:before {
  background-image: url(work/models/memorica/recursos/img/500anos/texto-4.jpg);
}

.inner h4 {
  font-family: "IMFellEnglish_Regular";
  font-size: 2.5rem;
  color: #63281e;
}

.inner a {
  font-family: "IMFellEnglish_Regular";
  font-size: 0.9rem;
}

.inner .d-flex .pleca {
  width: 90px;
  height: 8px;
  margin-top: 9px;
  position: absolute;
  background-color: rgba(99, 40, 30, 0.21);
}

.outer .textos-divisor {
  background-image: url(work/models/memorica/recursos/img/500anos/textos-divisor.svg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 30px;
  width: 75%;
}

.vermas {
  margin-left: 8px;
  z-index: 1;
}

.lista-texto li {
  font-family: "Raleway-SemiBold";
  font-size: 0.9rem;
  color: #63281e;
}

.lista-texto li span {
  font-family: "Raleway-Regular";
}

.lista-texto span {
  color: #c0764f;
}

.outer:hover h4, .outer:hover li, .outer:hover span, .outer:hover a {
  color: #FAF9F8;
  transition: all 0.8s;
}

.outer:hover .pleca {
  background-color: #FAF9F8;
  opacity: 0.3;
  transition: all 0.8s;
}

.outer:hover .textos-divisor {
  background-image: url(work/models/memorica/recursos/img/500anos/textos-divisor-light.svg);
  transition: all 0.8s;
  -moz-transition: all 0.8s;
}

/* ----------------------- TEXTO INDIVIDUAL ----------------------- */
.texto {
  padding-top: 81px;
  background-color: #faf9f8;
}

.texto h1 {
  color: #63281e;
  font-family: "IMFellEnglishSC_Regular";
  font-size: 4rem;
  line-height: 4.5rem;
  text-align: left;
}

.texto h2 {
  color: #63281e;
  font-family: "IMFellEnglishSC_Regular";
  font-size: 2rem;
  text-align: left;
}

.texto h3 {
  color: #63281e;
  font-family: "IMFellEnglish_Regular";
  font-size: 1.8rem;
  text-align: left;
  /* margin-left: 250px; */
}

img.diagonal {
  height: 100px !important;
  width: 300px;
  float: right;
}

.texto img.img-fluid {
  height: auto;
  max-width: 100%;
  margin: 120px 0;
  float: right;
}

.texto .pleca {
  width: 12%;
  height: 5px;
  margin-top: 19px;
}

.texto h5 {
  color: #c0764f;
  font-family: "Raleway-Bold";
  font-size: 0.9rem;
  text-align: left;
}

.texto h6 {
  color: #c0764f;
  font-family: "Raleway-SemiBold";
  font-size: 0.8rem;
  text-align: left;
}

.texto p {
  color: #13182c;
  font-family: "Raleway-Regular";
  font-size: 0.9rem;
  text-align: justify;
}

.texto img {
  height: 28px;
}

#content .border {
  border: 1px solid rgba(99, 40, 30, 0.2)!important;
}

.glifo {
  font-family: "IMFellEnglishSC_Regular";
}

#sidenavbar {
  background-color: #faf9f8;
  position: fixed;
  z-index: 1;
}

.nav-pills a {
  color: #63281e;
  font-size: 0.8rem;
  padding-left: 0;
}

.dot {
  height: 13px;
  width: 13px;
  margin-right: 10px;
  background-color: #63281e;
  border-radius: 50%;
  display: inline-block;
}

a.nav-link:hover, .navbar-light .nav-pills .nav-link.active {
  color: #c0764f;
  background: none;
}

a.nav-link:hover .dot, .navbar-light .nav-pills .nav-link.active .dot {
  background-color: #c0764f;
}

#sidenavbar .goto a {
  font-family: "IMFellEnglish_Regular";
  font-size: 1rem;
  margin-left: 10px;
  color: #63281e;
  transition: all 0.4s;
}

#sidenavbar .pleca {
  width: 110px;
  margin-top: 33px;
  background-color: rgba(99, 40, 30, 0.2);
}

#sidenavbar .goto a:hover {
  opacity: 0.6;
}

#wrapper{
  position: absolute;
  left: 0;
  width: 100%;
  height: 200px;
}

#content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 99%;
  /* opacity: 0.5; */
}

#background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
}

/* ----------------------- SALA LOS HECHOS ----------------------- */
/*-----------------------------NEW-----------------------------*/
body#hechos {
  position: relative;
  width: 1300vw;
}

#hechos p {
  color: #13182c;
}

#hechos small {
  color: #715f51;
}

.slide { /* desactivar para que funcione el backup */
  padding-top: 50px;
  height: 100%;
  width: 100vw;
  float: left;
}

#outer-wrapper .slide {
  width: 100vw;
  height: 100vh;
  display: inline-block;
  position: relative;
  white-space: normal;
}

#outer-wrapper .slide > div {
  white-space: normal;
  position: absolute;
}

#outer-wrapper {
  background-color: #FAF9F8;
  overflow-y: scroll;
  overflow-x: hidden;
  transform: rotate(270deg) translateX(-100%);
  transform-origin: top left;
  position: absolute;
  width: 100vh;
  height: 100vw;
}

#inner-wrapper {
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
  white-space: nowrap;
}

.slide {
  background-color: #FAF9F8;
}

/* .one {
  background-color: #45CCFF;
}
.two {
  background-color: #49E83E;
}
.three {
  background-color: #EDDE05;
}
.four {
  background-color: #E84B30;
} */

#portadilla {
  height: 100%;
  width: 100%;
}

#portadilla h1 {
  font-family: "IMFellEnglishSC_Regular";
  font-size: 15rem;
  text-align: center;
  color: #715E51;
}

#portadilla img {
  width: 250px;
  height: 250px;
}

#portadilla .pleca {
  width: 1050px;
  height: 10px;
}

.slide h2 {
  font-size: 4.5rem;
  color: #13182c;
  text-align: left;
}

.slide h3 {
  font-family: "IMFellEnglishSC_Regular";
  font-size: 2rem;
  color: #715E51;
  text-align: left;
}

.pleca-vertical {
  margin: 0 auto;
  width: 7;
  height: 450;
}

img.imgone {
  height: 700px;
}

img.imgtwo {
  height: 700px;
}

img.imgthree {
  height: 900px;
}

img.imgfour {
  height: 700px;
}

.modal-xl {
  max-width: 80%;
}

.tabla-hechos {
  width: 100%;
  font-size: 0.6rem;
}

a.active {
  color: red;
}

.slide .icon {
  height: 90px !important;
}

h5.modal-title {
  font-family: "Raleway-SemiBold";
  color: #715f51;
}

.close {
  color: #715E50;
  opacity: 1;
}

.close:hover {
  color: #0f1323;
  opacity: 1;
}

.modal-backdrop {
   background-color: #13182c;
   opacity: 0.8 !important;
}

.modal-backdrop.in {
  opacity: 0.8 !important;
}

.border-dark {
  border-color: #13182c!important
}

th {
  font-family: "Raleway-SemiBold";
}

td {
  font-family: "Raleway-Medium";
  color: #13182c;
}

.first-col {
  font-family: "Raleway-Medium";
  font-size: 14px;
}

.first-col strong {
  font-family: "Raleway-SemiBold";
  font-size: 14px;
  margin-bottom: 20px;
}

.th-light {
  background-color: #715f51;
  color: #faf9f8;
}

.th-dark {
  background-color: #13182c;
  color: #faf9f8;
}

.modal-header .pleca {
  background-color: #13182c;
  z-index: 0;
  margin-top: 35px;
  width: 30%;
  height: 5px;
}

.minipleca {
  z-index: 0;
  width: 50%;
  height: 5px;
  margin-top: -14.25px;
  margin-left: -14.25px;
  margin-bottom: 10px;
  position: relative;
}

.minipleca-light {
  background-color: #715f51;
}

.minipleca-dark {
  background-color: #13182c;
}

#timeline a.nav-link:hover, .navbar-light .nav-pills .nav-link.active {
  color: #c0764f;
  font-family: "Raleway-Bold";
  background: none;
}

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
 max-width:inherit; /* For Bootstrap 4 - to avoid the modal window stretching full width */
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events:all;
}

.audio-button {
  cursor: pointer;
  background-image: url(work/models/memorica/recursos/img/500anos/sound-on.svg);
  background-repeat: no-repeat;
}

.audio-button:hover {
  background-image: url(work/models/memorica/recursos/img/500anos/sound-off.svg);
}

.playpause {
  cursor: pointer;
}

.playpause:hover p {
  color: #715e50 !important;
}

.playpause:hover .bocina {
  background-image: url(work/models/memorica/recursos/img/500anos/bocina-on.svg);
}

.playpause:hover .coso {
  background-image: url(work/models/memorica/recursos/img/500anos/coso-on.svg);
}

.playpause p {
  font-family: "Raleway-Bold";
  margin: 10px 0;
  color: #13182c;
}

.bocina {
  cursor: pointer;
  background-image: url(work/models/memorica/recursos/img/500anos/bocina-off.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.coso {
  cursor: pointer;
  background-image: url(work/models/memorica/recursos/img/500anos/coso-off.svg);
  background-position: center;
  background-repeat: no-repeat;
}

/* ----------------------- SALA LOS IMAGENES ----------------------- */
.tit-imagenes {
  height: 45px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0)
}

#cover-album {
  background-color: #faf9f8;
  width: 100%;
  height: 100%;
  padding-top: 81px;
  padding-bottom: 0;
}

.album {
  padding-top: 81px;
  padding-bottom: 81px;
}

.white {
  background-color: #faf9f8;
}

.blue {
  background-color: #194b54;
}

#cover-album .card-header {
  background-color: #194b54;
}

#cover-album .card-header h5 {
  font-family: "IMFellEnglish_Regular";
  color: #faf9f8;
  text-align: center;
  margin: 0;
}

.album h1 {
  font-family: "Raleway-Bold";
  font-size: 2.5rem;
}

.album h2 {
  font-family: "Raleway-Bold";
  font-size: 1.1rem;
}

.blue h1, .blue h2 {
  color: #faf9f8;
}

.white h1, .white h2 {
  color: #13182c;
}

.album .card, .album .card-body {
  background-color: transparent;
}

.album .card-title {
  font-family: "IMFellEnglish_Regular";
  font-size: 1.2rem;
  color: #194b54;
  margin-bottom: 3px;
}

.blue .card-title {
  color: #faf9f8;
}

.album .card-text {
  font-family: "Raleway-Bold";
  font-size: 1rem;
  color: #c0764f;
}

.modal-xxl {
  min-width: 1366px;
  height: 90%;
}

.modal-title {
  font-family: "IMFellEnglish_Regular";
  font-size: 2rem;
  color: #194b54;
}

.modal-author {
  font-family: "Raleway-Bold";
  font-size: 1rem;
  color: #194b54;
}

.modal-tech {
  font-family: "Raleway-SemiBold";
  font-size: 1rem;
  color: #194b54;
}

.modal-place {
  font-family: "Raleway-Medium";
  font-size: 1rem;
  color: #194b54;
}

.modal-about {
  font-family: "Raleway-Bold";
  font-size: 1rem;
  color: #c0764f;
}

.modal-text {
  font-family: "Raleway-Regular";
  font-size: 0.9rem;
  color: #194b54;
}

/* ----------------------- MEDIA QUERIES ----------------------- */
/* Extra, extra large devices */
@media only screen and (min-width: 1201px) {
  .inner h4 {
    font-size: 2rem;
  }

  .inner a {
    font-size: 0.9rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
  #intro-text h1 {
    font-size: 4.5rem;
  }

  #intro-title h1 {
    font-size: 13rem;
  }

  .count, .fake-count {
    font-size: 18rem;
  }

  .monospace .char {
    width: 160px;
  }

  .share {
    right: 12%;
  }

  .down {
    right: 7%;
  }

  .caja {
    height: 18rem;
  }

  .caja h2 {
    font-family: "IMFellEnglishSC_Regular";
    font-size: 3.5rem;
  }

  .caja img {
    height: 1rem;
  }

  #section-interpretes h2 {
    font-size: 3rem;
  }

  #section-interpretes .icon {
    height: 1.5rem;
  }

  .inner h4 {
    font-size: 1.5rem;
  }

  .inner a {
    font-size: 0.8rem;
  }

  .lista-texto li {
    font-size: 0.7rem;
  }

  .diagonal {
    width: 250px;
    float: right;
  }

  .tit-textos {
    height: 27px;
  }

  .texto h1 {
    font-size: 3rem;
    line-height: 3.5rem;
    text-align: left;
  }

  .texto h2 {
    font-size: 2rem;
  }

  .texto h3 {
    font-size: 1.5rem;
  }

  .texto h5 {
    font-size: 0.8rem;
  }

  .texto h6 {
    font-size: 0.7rem;
  }

  .texto p {
    font-size: 0.8rem;
  }

  .texto .pleca {
    height: 5px;
    margin-top: 15px;
    background-color: rgba(99, 40, 30, 0.2);
  }

  #sidenavbar {
    width: 300px;
  }

  .nav-pills a {
    font-size: 0.7rem;
    padding-left: 0;
  }

  .dot {
    height: 10px;
    width: 10px;
    margin-right: 5px;
  }

  #sidenavbar .goto a {
    font-size: 1rem;
    margin-left: 10px;
  }

  #sidenavbar .pleca {
    width: 110px;
    margin-top: 17px;
  }

}

/* Large devices (desktops, 769px to 1024px) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  #intro-text h1 {
    font-size: 4.5rem;
  }

  #intro-title h1 {
    font-size: 13rem;
  }

  .count, .fake-count {
    font-size: 18rem;
  }

  .monospace .char {
    width: 160px;
  }

  .share {
    right: 12%;
  }

  .down {
    right: 7%;
  }

  .caja {
    height: 18rem;
  }

  .caja h2 {
    font-size: 3rem;
    text-align: center;
  }

  .caja img {
    height: 1rem;
  }

  #section-interpretes h2 {
    font-size: 3rem;
  }

  #section-interpretes .icon {
    height: 1.5rem;
  }

  .goto {
    padding-top: 0;
  }

  h3.goto a {
    font-size: 1.2rem;
  }

  .pleca {
    width: 150px;
    height: 6px;
    margin-top: 24px;
  }

  footer h2 {
    font-size: 2rem;
    text-align: center;
  }

  footer p {
    font-size: 0.9rem;
  }

  .credit-line {
    height: 0.3rem;
  }

  .inner h4 {
    font-family: "IMFellEnglish_Regular";
    font-size: 1.5rem;
    color: #63281e;
  }

  .inner a {
    font-family: "IMFellEnglish_Regular";
    font-size: 0.9rem;
  }

  .tit-textos {
    height: 25px;
  }

  .texto img.img-fluid {
    margin: 150px 0;
  }

  .nav-pills a {
    font-size: 0.6rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  #intro-text h1 {
    font-size: 4rem;
  }

  #intro-title h1 {
    font-size: 10rem;
  }

  .count, .fake-count {
    font-size: 15rem;
  }

  .monospace .char {
    width: 160px;
  }

  .share {
    right: 14%;
  }

  .down {
    right: 8%;
  }

  .caja {
    height: 20rem;
  }

  .caja h2 {
    font-size: 4rem;
    text-align: center;
  }

  .caja img {
    height: 20px;
  }

  #section-interpretes h2 {
    font-size: 3rem;
  }

  #section-interpretes .icon {
    height: 1.5rem;
  }

  .goto {
    padding-top: 0;
  }

  h3.goto a {
    font-size: 1.5rem;
  }

  .pleca {
    width: 150px;
    height: 8px;
    margin-top: 22px;
  }

  footer h2 {
    font-size: 2rem;
    text-align: center;
  }

  footer p {
    font-size: 0.9rem;
  }

  .credit-line {
    height: 0.3rem;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 576px) {
  #intro-text h1 {
    font-size: 2.5rem;
  }

  #intro-title h1 {
    font-size: 5rem;
  }

  .count, .fake-count {
    font-size: 6rem;
  }

  .monospace .char {
    width: 55px;
  }

  .share {
    top: 25px;
    right: 26%;
  }

  .down {
    top: 25px;
    right: 14%;
  }

  .button_container {
    top: 29px;
    right: 2%;
  }

  .caja {
    height: 190px;
  }

  .caja h2 {
    font-size: 2rem;
    text-align: center;
  }

  .caja img {
    height: 10px;
  }

  #section-interpretes h2 {
    font-size: 1.5rem;
  }

  #section-interpretes .icon {
    height: 10px;
  }

  .goto {
    padding-top: 0;
  }

  h3.goto a {
    font-size: 1rem;
  }

  h3.goto a:hover {
    font-size: 1rem;
  }

  .pleca {
    width: 100px;
    height: 5px;
    margin-top: 25px;
  }

  footer h2 {
    font-size: 1.8rem;
    text-align: center;
  }

  footer p {
    font-size: 0.7rem;
  }

  .credit-line {
    height: 0.4rem;
  }

  .overlay ul li a {
    font-size: 2rem;
  }

  .inner h4 {
    font-size: 1.5rem;
  }

  .inner a {
    font-size: 0.8rem;
  }

  .lista-texto li {
    font-size: 0.7rem;
  }

  .texto-box {
    height: 500px;
  }

  .outer h4, .outer li, .outer span, .outer a {
    color: #FAF9F8;
  }

  .outer .pleca {
    background-color: #FAF9F8;
    opacity: 0.3;
  }

  .outer .textos-divisor {
    background-image: url(work/models/memorica/recursos/img/500anos/textos-divisor-light.svg);
  }

  #texto-1 {
    background-image: url(work/models/memorica/recursos/img/500anos/texto-1.jpg);
  }

  #texto-2{
    background-image: url(work/models/memorica/recursos/img/500anos/texto-2.jpg);
  }

  #texto-3 {
    background-image: url(work/models/memorica/recursos/img/500anos/texto-3.jpg);
  }

  #texto-4 {
    background-image: url(work/models/memorica/recursos/img/500anos/texto-4.jpg);
  }

  .texto h1 {
    font-size: 2.5rem;
    line-height: 3rem;
    text-align: left;
  }

  .texto h2 {
    font-size: 2rem;
  }

  .texto h3 {
    font-size: 1.3rem;
  }

  .texto h5 {
    font-size: 0.7rem;
  }

  .texto h6 {
    font-size: 0.7rem;
  }

  .texto p {
    font-size: 0.7rem;
  }

  .texto img {
    height: 20px;
    margin-bottom: 10px;
  }

  .texto img.img-fluid {
    margin: 400px 0;
  }

  img.diagonal {
    float: left;
    padding-right: 50px;
  }

  body#hechos {
    width: 2550vw;
  }

  #content {
    width: 95%;
  }

  #content .border {
    border: none!important;
  }

  #outer-wrapper .slide {
    margin-right: 350px;
  }

  .slide {
    margin-right: 220px;
  }

  .margen-1 {
    margin-right: 330px;
  }

  .margen-2 {
    margin-right: 180px;
  }

  .margen-3 {
    margin-right: 330px;
  }

  .margen-4 {
    margin-right: 390px;
  }

  .margen-41 {
    margin-right: 300px;
  }

  .margen-5 {
    margin-right: 310px;
  }

  .margen-6 {
    margin-right: 370px;
  }

  .margen-7 {
    margin-right: 350px;
  }

  .margen-8 {
    margin-right: 260px;
  }

  #portadilla h1 {
    font-size: 4rem;
  }

  #portadilla img {
    width: 100px;
    height: 100px;
  }

  #portadilla .pleca {
    width: 280px;
    height: 5px;
    margin-top: 0;
  }

  .slide h2 {
    font-size: 1.5rem;
  }

  .slide h3 {
    font-size: .9rem;
  }

  .slide a {
    font-size: 0.7rem;
  }

  .slide p {
    font-size: 0.6rem;
  }

  .slide .icon {
    height: 40px !important;
  }

  .pleca-vertical {
    margin: 0 auto;
    height: 300px;
  }

  svg.pleca-vertical-sm {
    height: 200px;
  }

  img.imgone {
    height: 270px;
    width: 270px;
  }

  img.imgtwo {
    height: 300px;
  }

  img.imgthree {
    height: 500px;
  }

  img.imgfour {
    height: 300px;
    margin-right: 240px;
  }
   #timeline {
     height: 60px !important;
   }

   p.special {
     font-size: 11.2px !important;
   }

   #cover-album .container {
     height: auto;
   }

   #cover-album .splash {
     height: auto;
     padding: 0;
   }

   #cover-album .container {
     height: auto;
     padding: 0;
   }

   #cover-album .row {
     margin: 0;
     padding: 0;
     width: 100%;
   }

   .album {
     height: auto;
     position: relative;
     top: 1px;
   }
}
